In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dados2.csv', sep=';')

In [3]:
df

    Peça                Nome Custo/Unid  Pça/Cons  Valor Mensal
0   SEP21       FITA ADEVISA         10         5           NaN
1   SEP30               COLA          5         3           NaN
2   SEP32     GRAFITE 0,07MM          2         8           NaN
3   SEP34            TESOURA          8         1           NaN
4   SEP04      PAPEL SULFITE       0,08      9000           NaN
5   SEP29    CADERNO PEQUENO         15         3           NaN
6   SEP52  CADERNO CAPA DURA         20         7           NaN
7   SEP07       CANETA PRETA        1,5        49           NaN
8   SEP13        CANETA AZUL        1,5        20           NaN
9   SEP09    CANETA VERMELHA        1,5        32           NaN
10  SEP08              CLIPS        0,4      5000           NaN
11  SEP01         GRAMPEADOR          9         3           NaN
12  SEP05     GRAFITE 0,05MM          2        19           NaN
13  SEP49              LÁPIS        0,7         7           NaN

Através de uma sondagem efetuada, concluiu-se que as principais razões apontadas para a devolução de peças de vestuário compradas por catálogo da Rouparia ADM. S.A. foram as indicadas a seguir. Elabore o respectivo diagrama de Pareto.
Contabilizadas as frequências de ocorrências de defeitos numa linha de produção de bem como os custos de tratamento associados, concluiu-se que:
 
Construir o respectivo diagrama de Pareto, baseando-se nos custos.